<!DOCTYPE html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script>
  checkPossibleChangeMap = function(canvasWidthCell,canvasHeightCell,maxCanvasXCell,maxCanvasYCell) {
  	if (parseInt(maxCanvasXCell) > parseInt(canvasWidthCell)) {
  		return false;
  	} else if (parseInt(maxCanvasYCell) > parseInt(canvasHeightCell)) {
  		return false;
  	} 
  	return true;
  };
  changeMapSize = function() {
       var jsonFlowText = $('#form_gardenmap_plant_set_definition_json').val();
       var jsonObj = JSON.parse(jsonFlowText);
       var cultivateVegetableListText = $('#form_gardenmap_cultivate_vegetable_list').val();
       
	   var cultivateVegetableList = new Array();
	   var qStr = cultivateVegetableListText.substr(1,cultivateVegetableListText.length - 2).split(",");
	   for (var i=0; i<qStr.length; i++) {
	     var qData = qStr[i].split("=");
	     cultivateVegetableList[ qData[0] ] = qData[1];
	   }
       var canvasHeightCell = $('#mapHeightCell').val();
       var canvasWidthCell = $('#mapWidthCell').val();
       var maxCanvasXCell = $('#maxCanvasXCell').val();
       var maxCanvasYCell = $('#maxCanvasYCell').val();
       
       if (!checkPossibleChangeMap(canvasWidthCell,canvasHeightCell,maxCanvasXCell,maxCanvasYCell)) {
	  	$("#messageDialog").dialog({
	  	  title: "エラーメッセージ",
	      modal: true,
	      resizable: true,
	      height: 120,
	      width : 540
	    });
       	 return;
       }

       GardenmapEdit.canvasComponent(jsonObj,cultivateVegetableList,canvasHeightCell,canvasWidthCell,maxCanvasXCell,maxCanvasYCell);
};

(function($) {
	$(window).load(function() {

       var jsonFlowText = $('#form_gardenmap_plant_set_definition_json').val();
       var jsonObj = JSON.parse(jsonFlowText);
       var cultivateVegetableListText = $('#form_gardenmap_cultivate_vegetable_list').val();
       
	   var cultivateVegetableList = new Array();
	   var qStr = cultivateVegetableListText.substr(1,cultivateVegetableListText.length - 2).split(",");
	   for (var i=0; i<qStr.length; i++) {
	     var qData = qStr[i].split("=");
	     cultivateVegetableList[ qData[0] ] = qData[1];
	   }
       var canvasHeightCell = $('#mapHeightCell').val();
       var canvasWidthCell = $('#mapWidthCell').val();
       var maxCanvasXCell = $('#maxCanvasXCell').val();
       var maxCanvasYCell = $('#maxCanvasYCell').val();

       GardenmapEdit.canvasComponent(jsonObj,cultivateVegetableList,canvasHeightCell,canvasWidthCell,maxCanvasXCell,maxCanvasYCell);
 
       var $cvdiv = $('#' + GardenmapEdit.con.id.cvdiv);
       $cvdiv.mousedown(GardenmapEdit.cvmsDown);
       $cvdiv.mouseup(GardenmapEdit.cvmsUp);
       $cvdiv.mousemove(GardenmapEdit.cvmsMove);
       $cvdiv.click(GardenmapEdit.cvmsClick);
     });
})(jQuery);
</script>
</head>

<div class="function">
<h1><%= t('gardenmaps.edit.title') %></h1>
<div id="generic-form">
  <%= form_for @gardenmap_form, as: 'form', url: :customer_gardenmap do |f| %>
    <%= render 'form', f: f %>
    <%= render 'vegetable_select' %>
    <br/>
<fieldset id="home-address-fields">
	<legend>菜園図</legend>
    <input type='button' value='サイズ変更' onClick="changeMapSize()" style='padding: $wide $very_wide;background-color: #FFFF99;border-radius: 20px;box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);'>&nbsp;&nbsp;
	<%= render 'map', f: f %>
	<div id="cvdiv" class="canvasScroll"><canvas id="cv1"></canvas></div>
	<div id="moveTaskIcon" draggable="true"></div>
</fieldset>
    <div id="taskParamView"></div>
	<div class="buttons">
      <%= f.submit t('gardenmaps.edit.edit') %><br />
    </div>
<% end %>
</div>
<!-- <%= debug(@gardenmap_form.gardenmap.plant_set_definition_json) %> -->
</div>
</div>
<div id="messageDialog" style="display:none;">
<a style='color:red;'>図の縮小範囲内にアイテムが配置されている為、削除できません。
	アイテムを削除してから再度実行して下さい。</a>
</div>

</html>
