<% @title = '野菜の新規登録' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for @vegetable_form, as: 'form', url: :staff_vegetables do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= link_to 'キャンセル', :staff_vegetables %>
      <%= f.submit '登録'%><br />
    </div>
  <% end %>
</div>