<!DOCTYPE html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script>
  SelectRow = function(id,vegetable_code) {
    getPlantEventByAjax(id,vegetable_code)
  };
  showDialog = function(titleText, cultivate_task_comment) {
  	if (cultivate_task_comment != "") {
	  	$("#explantaskComment").val(cultivate_task_comment);
	  	$("#explantask").dialog({
	  	  title: titleText,
	      modal: true,
	      resizable: true,
	      maxHeight: 00,
	      maxWidth : 500,
	      minHeight: 150,
	      minWidth : 150,
	      height: 266,
	      width : 460
	    });
  	} 
  };
</script>
</head>

<% @title = t('gardenplans.index.vegetableGardenPlan') %>

<div class="function">
<div style='float: left' class="title" >
	<h1><%= @title %></h1>
</div>
</br>
</br>
</br>
<div class="table-wrapper">
  <table class="listing">
    <tr>
      <th><%= t('gardenplans.index.year') %></th>
      <th><%= t('gardenplans.index.term') %></th>
      <th><%= t('gardenplans.index.vegetable') %></th>
    </tr>
    <% @gardenplans.each do |m| %>
    <tr>
    <!-- <tr onclick='SelectRow(<%= m.id %>, <%= '"' + m.vegetable_code + '"' %>)'> -->
    　　　　<td><%= m.gardenplan_year %></td>
      <td><%= m.seed_plant_set_term %></td>
      <td><%= link_to m.vegetable_name, controller: "gardenplans", action: "index", gardenplan_id: m.id, vegetable_code: m.vegetable_code , vegetable_name: m.vegetable_name %></td>
    </tr>
    <% end %>
  </table>
  </br>
  <fieldset>
    <legend><%= @selectvegetable %></legend>
    <table class="eventlisting">
      <% @vegetabletasks.each do |event| %>
        <%= VegetabletaskPresenter.new(event, self).table_row %>
      <% end %>
    </table>
  </fieldset>

  </br>
  </div>
  <div id="explantask" style="display:none;">
  	<textarea id="explantaskComment" style="font-size:14px;" rows='10' cols='51' wrap='soft' disabled="true"></textarea>
  </div>
  
<!-- <%= debug(@gardenmaps) %>
<%= debug(@search_form) %> -->
</div>   	
