<header>
	<%
		@title = I18n.t('top.index.mainTitle')
		@Logout = I18n.t('top.index.logout')
		@RegistrationInfo = I18n.t('top.index.registrationInfo')
	%>

	<span class="logo-mark"><%= @title %></span>
	<%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
	<%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
	<%=
	  if current_customer
        link_to @Logout, :customer_session, method: :delete
	  end
	%>
	<%= link_to @RegistrationInfo, :customer_account if current_customer %>
	<%=
	  if I18n.locale.to_s == "en"
		link_to 'Top',  :controller=>"customer/top", :action => 'index', :locale =>'en'
 
	  else
		link_to 'トップ',  :controller=>"customer/top", :action => 'index', :locale =>'ja'
	  end
	%>
	<%=
	  if I18n.locale.to_s == "en"
		link_to 'Japanese', :controller=>"customer/top", :action => 'index', :locale =>'ja'
	  else
		link_to 'English', :controller=>"customer/top", :action => 'index', :locale =>'en'
	  end
	%>
    <input type='hidden' id='language' value=<%= I18n.locale.to_s %>>
</header>