<div class="ads">
<h1><%= t('top.index.buildingCite') %></h1>
<img src="/assets/ads/website.png" width="250" height="150">
<input type="button" value=<%= t('top.index.estimationRequest') %> onclick='showExplanVegetable()'>
<input type="button" value=<%= t('top.index.developmentResults') %> onclick='showExplanVegetable()'>
<div id="explanvegetable" style="display:none;"  title="菜園サイト">
<object width="820" height="700" data="assets/Explan_VegetableFunctions.pdf"></object>
</div>
<h1><%= t('top.index.memberDevelopmentTeamRails4') %></h1>
<img src="/assets/ads/developmentTeam.png">
<input type="button" value=<%= t('top.index.offer') %> onclick='showExplanVegetable()'>
</div>
