<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  	<%= render 'customer/shared/header' %>
  	<div id="container">
      <%= 
	  if I18n.locale.to_s == "en"
	  	render 'customer/shared/functionMenu_en' 
	  else
		render 'customer/shared/functionMenu'
	  end
      %>
      <%= yield %>
  	</div>
  	<%= render 'shared/footer' %>
  </div>
</body>
</html>
