<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'customer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'customer', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
  	<%= render 'customer/shared/header' %>
    <%= render 'shared/footer' %>
  	<div id="container">
      <div style='float:left;width:210px;'>
      	<%= render 'customer/shared/functionMenu' %>
      	<%= render 'customer/shared/functionExplan' %>
      </div>
      <%= yield %>
  	</div>
  </div>
</body>

</html>
